@model QuestionsEditorIndexViewModel

@{
    ViewData["Title"] = "Questions editor";
}

<!--Add question modal-->
@*<partial name="IndexPartials/_AddQuestionModalPartial" model="Model.addQuestionViewModel" />
*@
<div class="tableDiv table-responsive shadow m-5 bg-light rounded">
    <h3 class="text-center thead-light mt-3">Questions list</h3>

    <div class="row d-flex justify-content-between m-1 mb-3 mt-3 ">
@*        <button class="btn btn-success m-2 col-md-3 col-sm-12" data-mdb-toggle="modal" data-mdb-target="#addQuestionModal">Add question</button>
        *@        <a class="btn btn-success m-2 col-md-3 col-sm-12" href="@Url.Page("/QuestionsEditor/AddQuestion")">Add question</a>
        <button class="btn btn-info col-sm-12 m-2 col-md-3" onclick="updateData()">Reload</button>
    </div>
    <div class="text-center">
    <div class="spinner-border" role="status" id="loaderBar">
        <span class="visually-hidden">Loading...</span>
    </div>
    </div>
    @*<div class="loading text-center" data-mdb-parent-selector="#loading-test-4" id="loaderBar">
        <div class="spinner-grow loading-icon" role="status">
            <span class="loading-text">Loading...</span>
        </div>
    </div>*@
    <table id="QuizzesTable" class="table table-light table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Points</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

</div>

@section Scripts{
    <partial name="IndexPartials/_ScriptsPartial" model="Model.quizId" />
    }

@*@foreach(var item in Model.QuizQuestions){
    <h1>@item.Question</h1>
    <img src="@item.QuestionImage" />
    foreach(var answer in item.QuizAnswers){
        <h2>@answer.Answer</h2>
    }
    
    <br />
}*@


@*@for (int i = 0; i < Model?.QuizQuestions.Count; i++)
{
    <div class="card mb-3 col-7">

        <input type="hidden" name="r-@i--1" value="@Model.QuizQuestions[i].Id" />

        <h4 class="my-card-header text-center">
            Question - @i
        </h4>

        @if (Model.QuizQuestions[i].QuestionImage != "")
        {
            <div class="card-img-top image-box text-center">
                <img src="@Model.QuizQuestions[i].QuestionImage" class="card-img-top my-img-card p-3" />
            </div>
        }

        <div class="card-body">
            <h5 class="card-title">@Model.QuizQuestions[i].Question</h5>
            @{
                int sw = 0;
                int tempVal = 0;
            }
            @if (Model.QuizQuestions[i].QuizType == QuizType.SelectAnswer)
            {
                tempVal = 0;
                @foreach (var item in Model?.QuizQuestions[i]?.QuizAnswers ?? new List<QuestionAnswer>())
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="r-@i-0" id="r-@i-@tempVal" value="@item.Answer">

                        <label class="form-check-label" for="r-@i-@tempVal">
                            @item.Answer
                        </label>
                    </div>
                    tempVal++;
                }
                sw++;
            }
            //For multiple answers
            else if (Model.QuizQuestions[i].QuizType == QuizType.MultipleAnswers)
            {
                tempVal = 0;

                @foreach (var item in Model?.QuizQuestions[i]?.QuizAnswers ?? new List<QuestionAnswer>())
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="r-@i-@tempVal" id="r-@i-@tempVal" value="@item.Answer">
                        <label class="form-check-label" for="r-@i-@tempVal">
                            @item.Answer
                        </label>
                    </div>
                    tempVal++;
                }
            }

            else
            {

                <div class="input-group">
                    @{
                        //int id = @Model?.QuizQuestionsAnswers?.Where(q => q.QuizQuestionId == Model.QuizQuestions[i].Id)?.FirstOrDefault()?.Id ?? 0;
                    }
                    <textarea class="form-control" aria-label="Textarea" name="r-@i-0" id="r-@i-0"></textarea>
                </div>
            }
        </div>
    </div>
}*@