@model QuizListViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Quizes list";
    
}


@section head{
    <style>
        .my-img-card{
            width: 9rem;
            height: 8.5rem;
            border-radius: 1em;
        }
        .card:hover{
            background-color: lightgray;
            transition: 2s;
        }

        .card-line{
            color:deepskyblue;
            width:2px;
        }
        .card{
            border-radius: 2em;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }
        .my-card-header{
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            padding: 0.5rem 1rem;
        }
    </style>
}
<h1 class="text-center m-4">Quizes list</h1>
<hr />
    <div class="row justify-content-center ms-2 me-2">
        @for(int i = 0;i < Model.Quizzes.Count; i++)
    {
        <div class="card text-center m-4 col-sm-12 col-md-4 col-xl-4">
            <h4 class="my-card-header">@Model.Quizzes[i].QuizName</h4>
            
        <div class="card-body d-flex">
                <div class="m-auto">
                    <h6 class="card-text">Questions: @Model.Quizzes[i].Questions.Count()</h6>
                    <h6 class="card-text">Attempts: @Model.Quizzes[i].MaxAttempts</h6>
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                                        <h6 class="card-text">Your score:
                                @(Model.UserPoints.Where(u => u.UserQuizId == i).ToList().FirstOrDefault()?.Points ?? 0)/@{
                                    @Model.Quizzes[i].QuizPoints;
                                }
                            </h6>
                        }
                    }
                    <a href="#" class="btn btn-primary stretched-link">Details</a>
                </div>

                <img src="@Model.Quizzes[i].QuizImage" class="my-img-card" alt="Card image cap">
               
        </div>
        <div class="card-line">
            </div>
    </div>
}
</div>