@model QuizPassViewModel
@{
    ViewData["Title"] = Model.Quiz.QuizName ?? "Quiz pass";
}

@section head{
    <style>
        .card{
            border-radius: 2em;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .my-card-header {
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            padding: 0.5rem 1rem;
        }

        .my-img-card {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            border-radius: 20%;
            object-fit: scale-down;
        }
        .image-box{
           max-height:500px;
        }

        body{
            overflow-x: hidden;
        }
    </style>
}

@if(Model.Quiz.QuizName == string.Empty){
    <div class="align-content-center text-center m-5">
    <h2 class="text-danger">Quiz was not found!</h2>
        <a class="btn btn-primary" asp-controller="Quizes" asp-action="Index" role="button">Back to the Quizes list</a>
    </div>
}else if(!Model.IsAvaible){
    <div class="align-content-center text-center m-5">
        <h2 class="text-danger">You have already used all your attempts</h2>
        <h3 class="text-info">@Model.CurrentAttempts / @Model.CurrentAttempts</h3>
        <a class="btn btn-primary" asp-area="" asp-controller="Quizes" asp-action="Index" >Back to the Quizes list</a>
    </div>

    <partial name="_ScoreboardPartial" />
}else{
    <div class="text-center">
    <h1>Welcome to the <br> @Model.Quiz.QuizName</h1>
    </div>

    <form class="row justify-content-center" method="post" asp-controller="Quizes" asp-action="PassPost">
    <input type="hidden" value="@Model.Quiz.Id" name="quiz-id">
    @for(int i = 0; i < Model?.QuizQuestions.Count; i++){
            <div class="card mb-3 col-7">
                @*Indicates Quiz id*@
                <input type="hidden" name="r-@i--1" value="@Model.QuizQuestions[i].Id" />
                
                <h4 class="my-card-header text-center">
                Question - @i
            </h4>

            @if (Model.QuizQuestions[i].QuestionImage != "")
            {
                <div class="card-img-top image-box text-center">
                    <img src="@Model.QuizQuestions[i].QuestionImage" class="card-img-top my-img-card p-3"/>
                </div>
            }

            <div class="card-body">
                <h5 class="card-title">@Model.QuizQuestions[i].Question</h5>
                @{
                    int sw = 0;
                    int tempVal = 0;
                }
                @if (Model.QuizQuestions[i].QuizType == QuizType.SelectAnswer)
                {
                        tempVal = 0;
                        @foreach (var item in Model.QuizQuestionsAnswers.Where(q => q.QuizQuestionId == Model.QuizQuestions[i].Id).ToList())
                    {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="r-@i-0" id="r-@i-@tempVal" value="@item.Answer">

                                <label class="form-check-label" for="r-@i-@tempVal">
                                @item.Answer
                                </label>
                            </div>
                            tempVal++;
                    }
                        sw++;
                }
                //For multiple answers
                else if (Model.QuizQuestions[i].QuizType == QuizType.MultipleAnswers){
                        tempVal = 0;
                        
                    @foreach (var item in Model.QuizQuestionsAnswers.Where(q => q.QuizQuestionId == Model.QuizQuestions[i].Id).ToList())
                    {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="r-@i-@tempVal" id="r-@i-@tempVal" value="@item.Answer">
                                <label class="form-check-label" for="r-@i-@tempVal">
                                @item.Answer
                                </label>
                            </div>
                            tempVal++;
                        }
                    }

                    else{

                        <div class="input-group">
                            @{
                                int id = @Model?.QuizQuestionsAnswers?.Where(q => q.QuizQuestionId == Model.QuizQuestions[i].Id)?.FirstOrDefault()?.Id ?? 0;
                            }
                            <textarea class="form-control" aria-label="Textarea" name="r-@i-0" id="r-@i-0"></textarea>
                        </div>
                }
            </div>
        </div>

        @*@item.Question
        <br />
        @foreach(var answ in Model.QuizQuestionsAnswers.Where(q=>q.QuizQuestionId == item.Id).ToList()){
            @answ.Answer
        }*@
    }

        <button  type="submit" class="btn btn-dark col-6">Submit</button>
    </form>
    
    <partial name="_ScoreboardPartial" />
}

@section scripts{
    <script>
    $(".form").find('input').each(function(index,element){
        alert($(element).val());
    });
    </script>


}

